{
  "#": "Bootstrap Endpoints",
  "bootstrap-endpoints": "{{ msk_bootstrap_endpoints }}",

  "#": "Zookeeper config",
  "zk-servers": "{{ zookeeper_list }}",
  "zk-timeout-sec": 10,
  "zk-stats-path": "{{ shasta_servers_znode }}",

  "#": "Stats update interval",
  "stats-update-interval-sec": 30,

  "#": "File log",
  "log-file": "none",

  "#": "Syslog",
  "syslog": true,

  "#": "Console",
  "console-log": false,

  "log-level": "info",

  "#end": "end of config"
}
